*{

    margin: 0;
    padding: 0;
}

.top{


    background-color: gray;
    height: 100vh;
    //  height: 50vh;
    //   height: 10vh;
    //   min-height: 10vh;
    //   overflow: hidden;
    //   overflow: scroll;
    // width: 100vw;
    border:5px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    


}

.title{

    width: 50vw;
    text-align: center;
}


.block{


    min-height: 100vh;
    background-color: #234567;
    position: relative;


    &__header{
        height: 50px;
        background-color: #555;
        position:sticky;
        top: 0;
        left: 0;
        
    }
}


.item{

    background-color: #19f705;
    min-height: 100vh;
}
